// triangle arrow
.triangle-up {
  position: relative;
  margin: auto 10px;
  width: 20px;
  height: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid tomato;
  border-bottom: 20px solid transparent;
  animation: bounce alternate 0.5s infinite;
}

@keyframes bounce {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}