// XS : @media only screen and (min-width: 320px) and (max-width: 479px){ ... }
// S : @media only screen and (min-width: 480px) and (max-width: 767px){ ... }
// M : @media only screen and (min-width: 768px) and (max-width: 991px){ ... }
// L : @media only screen and (min-width: 992px) and (max-width: 1999px){ ... }
// XL : @media only screen and (min-width: 2000px){ ... }

// example
//   .module {
//     width: 25%;
//     @include bp(extra-small) {
//       width: 100%;
//      }
//   }

@mixin bp($points...){
  @each $p in $points {
    @if $p == S{
      @media only screen and (max-width: 319px){ @content; }
    }
    @if $p == XS{
      @media only screen and (min-width: 320px) and (max-width: 479px){ @content; }
    }
    @if $p == S{
      @media only screen and (min-width: 480px) and (max-width: 640px){ @content; }
    }
    @if $p == M{
      @media only screen and (min-width: 641px) and (max-width: 840px){ @content; }
    }
    @if $p == L{
      @media only screen and (min-width: 841px) and (max-width: 991px){ @content; }
    }
    @if $p == XL{
      @media only screen and (min-width: 992px) and (max-width: 1999px){ @content; }
    }
    @if $p == XXL{
      @media only screen and (min-width: 2000px){ @content; }
    }
  }
}