// Bulma
@import '~bulma/bulma';

// Variables
@import 'variables';

// media_querys
@import 'media_querys';

// custom css
@import 'bouncing_triangle';

body{
  box-sizing: border-box;
  * {box-sizing: border-box;}
  //border: 1px solid red;
  //max-width: 2000px;
}
.app-container{
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 650px;

  .component-wrapper{
    position: relative;
    width: $full-width;
    display: flex;
    flex-flow: row;
    justify-content:space-between;

    section.hero{
      position: relative;
      //border: 1px solid orange;
      width: $full-width;
      .hero-body .container {
        width: 50%;
        margin: auto;
        @media (max-width: 600px) {
          width: unset;
        }
      }
    }

    aside{
      position: relative;
      width: $full-width * 1/3;
      //border: 1px solid red;

      .semicircle{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        background: tomato;
        padding: 30px;
        @include bp(XL){
          left: 50px;
          width: 600px;
          height: 600px;
        }
        @include bp(XXL){
          left: 100px;
          width: 700px;
          height: 700px;
        }

        .content{
          display: flex;
          justify-content: center;
          align-items: left;
          flex-flow: column;
          width: 100%;
          hr{
            width: 80%;
            height: 1px;
          }
        }
      }
    }
    @include bp(XXS,XS,S,M){
      flex-flow: column-reverse;
      aside{
        width: 100%;
        .semicircle{
          position: relative;
          border-radius: unset;
          width: 100%;
          height: auto;
          .content{
            width: 100%;
            padding: 40px;
            align-items: center;
          }
        }
      }
    }
  }
}

footer{
  background: black;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
}

