<template>
    <form @submit.prevent="submitTask">
        <div class="form-wrapper">
            <div class="input-wrapper">
                <div v-if="task.task ===''" class="triangle-up"></div>
                <input v-model="task.task"
                       class="input is-rounded"
                       type="text"
                       maxlength="100"
                       placeholder="Rounded input">
            </div>

            <div v-if="task.task!==''" class="card">
                <div class="card-content">
                    <div class="content">
                        <p>
                        {{task.task}}
                            <span
                                v-if="task.task.length > 6"
                                v-bind:style="{color: task.task.length > 10 ? 'green' : 'orange'}">
                            &#10003;
                        </span>
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <button type="submit"
                            class="button is-fullwidth is-success"
                            v-bind:disabled="task.task.length< 4">
                        Start taskName
                    </button>
                </footer>
            </div>

        </div>
    </form>
</template>

<script>
    export default {
        data: function(){
            return {
                task :{
                    task:'',
                    seconds: 0,
                    active: 1,
                },
            }
        },
        methods: {
            submitTask: function(){
                axios.post('/', {task:this.task})
                    .then( (response) =>{
                        if (response && response.status === 200){
                            this.$emit('newTask', this.task);
                            this.$emit('notification',response.data.msg,'is-success');
                            this.task.task = '';
                        }
                    })
                    .catch( err => {
                        this.$emit('notification', err.response.statusText ,'is-danger');
                    })
            },
        }
    }
</script>

<style scoped lang="scss">
    .form-wrapper{
        display: flex;
        justify-content:center;
        flex-flow: wrap;
        max-width: 400px;
        .input-wrapper{
            display: flex;
            justify-content:center;
            flex-flow: nowrap;
            width: 100%;
            margin-bottom: 40px;
        }
        .card{
            width: 100%;
        }
    }

</style>
