<template>
    <div class="component-wrapper">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        <slot></slot>
                    </h1>
                    <h2 class="subtitle">
                        Any task to start?
                    </h2>
                    <form-component
                            @newTask="newTask"
                            @notification="notify"
                        >
                    </form-component>
                </div>
            </div>
            <template v-if="tasks.length">
                <div v-for="task in tasks"
                     :key="task.task"
                     >
                    <task-component
                        :task="task"
                        :currentTask="currentTask"
                        @deleted="taskDeleted"
                        @updated="taskUpdated"
                        @notification="notify"
                    >
                    </task-component>
                </div>
            </template>

        </section>
        <aside v-if="currentTask && currentTask.task !== ''">
            <time-component
                    :currentTask="currentTask"
                    :totalWork="totalWork"
                    @updated="taskUpdated">
            </time-component>
        </aside>

        <notification-component
                v-show="notification.show"
                :type="notification.type"
                @destroy="destroyNotification"
        >
            {{notification.message}}
        </notification-component>
    </div>
</template>

<script>
    export default {
        props: {
            rawTasks: String,
            rawDailySeconds: String,
        },
        data: function(){
            return {
                tasks:[],
                currentTask:{},
                notification: {
                    show: false,
                    message: '',
                    type:'is-success',
                },
                totalWork: 0
            }
        },
        beforeMount(){
            const tasks = JSON.parse(this.rawTasks);
            const currentTask = this.tasks.find( t => t.active === 1);
            const totalWork = parseInt(this.rawDailySeconds);

            this.currentTask = currentTask || tasks[0] || {};
            this.totalWork = totalWork;
            this.tasks = tasks;
        },
        methods: {
            newTask(newTask){
                const taskExists = this.tasks.find(t => t.task.toLowerCase() === newTask.task.toLowerCase());
                const currentTask = {...newTask};
                if (!taskExists && currentTask.task.length > 3){
                    this.tasks.push(currentTask);
                }
                this.taskUpdated(currentTask);
            },
            notify(message, type){
                this.notification.show = true;
                this.notification.message = message;
                this.notification.type = type;
                setTimeout(()=>this.destroyNotification(), 1000);
            },
            destroyNotification(){
                this.notification.show = false;
            },
            taskDeleted(task){
                this.tasks = this.tasks.filter(t => t.task !== task.task);
                if (this.tasks.length < 1){
                    window.localStorage.clear();
                    this.currentTask = '';
                }
            },
            taskUpdated(task){
                this.tasks.map(t => {
                   if (t.task !== task.task){
                       t.active = !task.active;
                   }
                });
                this.currentTask = task;
            }
        },
    }
</script>

<style>

</style>