<template>
    <div class="notification" :class="type">
        <button @click="$emit('destroy')"
                class="delete">
        </button>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props:['type'],
    }
</script>

<style scoped lang="scss">
    .notification{
        position: fixed;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        bottom: -200px;
        right: 20px;
        animation: pop 3s;
        @media all and (max-width: 600px){
            max-width: 90%;
            width: 100%;
            right: unset;
            margin: 0 5%;
        }
    }
    @keyframes pop {
        0% {bottom: -50px};
        4% {bottom: 40px};
        8% {bottom: 10px};
        10% {bottom: 20px}
        90% {bottom: 20px};
        100% {bottom: -200px};
    }
</style>
