<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <time>{{formatedTask}}</time>
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p v-if="!editMode"
                   @click="editMode = !editMode">
                    {{secureName}}
                </p>
                <div v-else=""
                     class="field has-addons">
                    <div class="control is-expanded">
                        <input v-model="secureName"
                               class="input"
                               type="text"
                               maxlength="100"
                               placeholder="Renaming Task">
                    </div>
                    <div class="control">
                        <button class="button"
                            v-bind:disabled="secureName.length < 4"
                            @click="updateTaskName" >
                            OK
                        </button>
                        <button class="button is-white"
                           @click="editMode = !editMode" >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <button v-if="t.active === 1"
                    @click="submitTask"
                    class="card-footer-item button is-success">
                END
            </button>
            <button v-else=""
                    @click="submitTask"
                    class="card-footer-item button is-danger">
                START
            </button>
            <button @click="destroyTask"
                    class="card-footer-item button is-white">Delete</button>
        </footer>
    </div>
</template>

<script>
    export default {
        props:['task', 'currentTask'],
        data: function(){
            return {
                t : {},
                editMode: false,
                secureName: '',
            }
        },
        beforeMount() {
            this.t = this.task;
            this.secureName = this.t.task;
        },
        methods: {
            updateTaskName(){
                this.editMode = false;
                this.t.task = this.secureName;
                axios.post('/edit', {task:this.t})
                    .then((response)=>{
                        if (response && response.status === 200)
                            this.$emit('notification', response.data.msg,'is-success');
                    })
                    .catch((err)=>{
                        if (err && err.response.status === 404){
                            this.$emit('notification', err.response.statusText,'is-danger');
                        }
                    })
            },
            destroyTask(){
                axios.post('/destroy', {task:this.t})
                    .then((response)=>{
                        if (response && response.status === 200){
                            this.$emit('deleted', this.t);
                            this.$emit('notification', response.data.msg,'is-warning');
                        }
                    })
                    .catch((err)=>{
                        const errMsg = err.response.status === 404
                            ? err.response.data.msg
                            : err.response.statusText;
                        this.$emit('notification', errMsg ,'is-danger');
                    });
            },
            submitTask: async function(){
                axios.post('/', {task:this.t})
                    .then( (response) =>{
                        if (response && response.status === 200){
                            this.$emit('newTask', this.t);
                            this.$emit('notification',response.data.msg,'is-success');
                            this.t.active = this.t.active === 1 ? 0 : 1;
                            this.$emit('updated',this.t);
                        }
                    })
                    .catch( err => {
                        this.$emit('notification', err.response.statusText ,'is-danger');
                    })
            },
        },
        computed:{
            formatedTask(){
                return new Date(this.t.seconds * 1000).toISOString().substr(11, 8);
            },
        }
    }
</script>

<style scoped lang="scss">
    .card{
        margin: 40px auto;
        max-width: 50%;
        .content p:hover {
            cursor:pointer;
        }
        .card-footer-item{
            padding: 0;
        }
        @media all and (max-width: 600px){
            margin: 10px;
            max-width: unset;
            .has-addons{
                flex-flow: wrap;
                .control, button{
                    width: 100%;
                }
            }
        }
    }
</style>
