<template>
    <div class="semicircle">
        <div class="content">
            <slot></slot>
            <div class="time">{{formatedTask}}</div>
            <div class="task">{{task.task}}</div>
            <hr>
            <div class="task">Daily Work</div>
            <div class="time">{{formatedTotal}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['currentTask','totalWork'],
        data: function(){
            return {
                task : {},
                timer:'',
                totalDailyWork: 0,
            }
        },
        watch:{
            currentTask() {
                this.task = this.currentTask;
            },
        },
        beforeMount(){
            this.checkTask(this.currentTask);
        },
        mounted() {
            this.totalDailyWork = this.totalWork;
            this.initTimer();
        },
        methods: {
            storeTask(){
                localStorage.setItem('task', JSON.stringify(this.currentTask));
            },
            recoverTask(){
                return JSON.parse(localStorage.getItem('task'));
            },
            checkTask(task){
                const lastSavedTask = this.recoverTask();
                if(lastSavedTask && lastSavedTask.task === task.task){
                    this.task = lastSavedTask;
                } else {
                    this.task = task;
                }
            },
            initTimer(){
                this.interval = setInterval( () => {
                    if(this.task.active){
                        this.task.seconds ++;
                        this.totalDailyWork ++;
                    } else {
                        this.task.active = 0;
                    }
                    this.storeTask();
                    this.$emit('updated', this.task);
                },1000)
            },
        },
        computed:{
            formatedTask(){
                return new Date((this.task.seconds*1000) || 0).toISOString().substr(11, 8);
            },
            formatedTotal(){
                return new Date((this.totalDailyWork*1000) || 0).toISOString().substr(11, 8);
            }
        }
    }
</script>

<style scoped lang="scss">
    .time{
        font-size: 30px;
        color: white;
    }
    .task{
        max-width: 200px;
        font-size: 18px;
        color: white;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
</style>
